/* Custom Stylesheet */
@import "material.min.css";
@import "font-awesome.min.css";
@import "animate.min.css";
@import "responsive.css";
html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.mdl-theme .mdl-layout__header-row {
  padding-left: 40px;
}
.mdl-theme .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.mdl-theme .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.mdl-theme .mdl-layout__tab-bar-button {
  display: none;
}
.mdl-theme .mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-theme .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-theme .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.mdl-theme .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: #fff;
  height: 4px;
}
.mdl-theme main > #post-loop {
  padding: 8px;
  padding-top: 48px;
}
.mdl-theme .mdl-card {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mdl-theme .mdl-card > * {
  height: auto;
}
.mdl-theme .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-theme .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.mdl-theme.mdl-theme .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-theme.mdl-theme .mdl-card__supporting-text h4 span {
  font-size: 10px;
  color: #333;
  margin-left: 15px;
}
.mdl-theme .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.mdl-theme .mdl-card__actions a {
  color: #00bcd4;
  margin: 0;
}
.mdl-theme .mdl-card__actions button {
  float: right;
}
.mdl-theme .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0,0,0,0.12);
}
.mdl-theme #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}
.mdl-theme .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.mdl-theme section.section--post {
  max-width: 860px;
}
.mdl-theme section.section--post .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.13);
}
.mdl-theme section > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mdl-theme section > header > .material-icons {
  font-size: 3rem;
}
.mdl-theme section > .section__play-btn {
  min-height: 200px;
}
.mdl-theme section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.mdl-theme section .section__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.mdl-theme section .section__text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 8px;
}
.mdl-theme section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl-theme section .section__text a {
  text-decoration: none;
}
.mdl-theme section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.mdl-theme section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl-theme section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.mdl-theme #post-loop:not(#overview) {
  background-color: #fff;
}
.mdl-theme .toc {
  border-left: 4px solid #c1eef4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mdl-theme .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl-theme .toc a {
  color: #4dd0e1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl-theme .mdl-menu__container {
  z-index: 99;
}
.mdl-theme .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-theme .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-theme .mdl-card__actions a:hover,
.mdl-theme .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-theme #features h4,
#features h5 {
  margin-bottom: 16px;
}
.sidebar .widget .title {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: #3f51b5;
}
.sidebar .widget .title h4 {
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 0;
}
.sidebar .widget img {
  margin: 0 auto;
  display: block;
}
.sidebar .widget .last-content {
  border-top: 3px solid #3f51b5;
  min-height: 90px;
  margin-top: 7px;
  transition: 0.2s ease;
  padding-top: 5px;
}
.sidebar .widget .last-content a {
  font-size: 20px;
  color: #333;
  padding: 0px;
  line-height: 20px;
  text-align: center;
  display: inline;
  text-decoration: none;
}
.sidebar .widget .last-content:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.sidebar .widget .last-data {
  width: 70px;
  height: 70px;
  background: #3f51b5;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}
.sidebar .widget .last-data p {
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  padding-top: 14px;
  color: #fff;
}
.sidebar .widget .last-data p span {
  font-size: 19px;
  font-weight: bold;
}
.breadcrumb {
  margin: 5px auto;
  padding-left: 60px;
  width: 100%;
  color: #ccc;
  font-size: 12px;
}
.breadcrumb a {
  float: left;
  display: inline;
  color: #ccc;
  text-decoration: none;
  text-align: left;
  text-transform: capitalize;
  font-size: 12px;
}
.pagination {
  margin: 15px 30px;
}
.pagination .mdl-button {
  border-radius: 100%;
  min-width: 37px;
}
.pagination .active {
  background: #ececec;
}
.mdl-mega-footer--link-list {
  padding: 0;
  margin: 0;
}
.mdl-mega-footer--link-list ul.social li {
  float: right;
}
.mdl-mega-footer--link-list i {
  font-size: 25px;
  transition: 0.2s ease;
}
.mdl-mega-footer--link-list i:hover {
  color: #fff;
}
.mdl-mega-footer--link-list.social li {
  float: right;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
h1.h-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}
h1.h-title {
  margin-left: 30px;
}
